<h1> {{ download.name }} </h1>
<p>
	{{ download.description }}
</p>
<a class="btn btn-default" target="{{ download.target_blank ? '_blank' : '_self' }}" href="{{ download.file.streamPath() }}" role="button">
	{{ download.button_text }}
</a>
